/*
!.gitignore
!/MissileReflex
!/Resources
!/UIOutline

# ignre Photon except settings
!/Photon
/Photon/*
!/Photon/Fusion
/Photon/Fusion/*
!/Photon/Fusion/Resources
/Photon/Fusion/Resources/PhotonAppSettings.*
